body {
    background-color: teal;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: teal;
    text-align: center;
    background-color: white;
}
h4 {
    color : teal;
    text-align: center;
    background-color: white;
}